.title{
  font-size: 24px;
  padding: 20px 0 5px;
  font-weight: 600;
}
:host{
  display: block;
  padding: 5px 10px;
  max-width: 700px;
  margin: 0 auto;
}
.finish-message{
  font-size: 22px;
  margin: 20px 10px;
  font-weight: 600;
  text-align: center;
}
.step-number{
  font-size: 20px;
  font-weight: 700;
  margin-top: 0;
}
.step-number span{
  display: inline-block;
  margin: 10px 0;
}
.progress-bar{
  transition: all .5s;
}
.added-data{
  padding: 10px;
  font-size: 14px;
}
.added-data .title{
  font-size: 16px;
  font-weight: 700;
  padding: 10px 0 ;
}
.report{
  list-style: none;
}

.report li .report-item{
  border: 1px solid #ccc;
  margin: 2px 0;
  border-radius: 5px;
  font-size: 16px;
}

.report li .report-item .item-title{
  font-weight: 600;
  padding: 10px;
  border-right: 1px solid #ccc;
  display: inline-block;
  min-width: 250px;
}

.report li .report-item .item-value{
  display: inline-block;
}
